<footer class="page-footer blue accent-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC</h5>
          <p class="grey-text text-lighten-4">Equipo 8 - Grupo 20</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros de equipo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Milena</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Nicolay</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">David</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Hermis</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Daniel</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  